String manipulation: {{ Col2_str | replace("e", "ce upon a time") | title }}
Bool: {% if Col6_bool %}it's true{% else %}it's false {% endif %}
Integer: {{ Col3_int }} + 42 = {{ Col3_int + 42 }} and {{ Col3_int }} % 7 = {{ Col3_int % 7 }}
Float: {{ Col5_float }} ** 2  = {{ Col5_float ** 2 }}

Counter:
16 == {{ mycounter() }}
