{{ gitcommit }}
{{ gitcommitlong }}

{{ scgversion }}

{{ now('%a %d %b %Y %H:%M:%S') }}
{{ now() }}

{{ 2 | bitmask(5) }}
{{ [1, 3, 31] | bitmask }}

Counter:
17 == {{ mycounter() }}
18 == {{ mycounter() }}
268 == {{ myothercounter() }}
13 == {{ mycounter(12)}}
14 == {{ mycounter() }}

{% if false == mycounter(5) %}{% endif %}
6 == {{ mycounter()}}

// Generated with SCG v{{ scgversion }} on {{ now() }} from git commit {{ gitcommit }} 
