{{ gitcommit }}
{{ gitcommitlong }}

{{ scgversion }}

{{ now('%a %d %b %Y %H:%M:%S') }}
{{ now() }}

{{ 2 | bitmask(5) }}
{{ [1, 3, 31] | bitmask }}

Counter:
2 == {{ mycounter() }}
3 == {{ mycounter() }}
268 == {{ myothercounter() }}
12 == {{ mycounter(12) }}
13 == {{ mycounter() }}
{% if false == mycounter(5) %}{% endif %}
6 == {{ mycounter()}}

// Generated with SCG v{{ scgversion }} on {{ now() }} from git commit {{ gitcommit }} 
